/*----------
Custom Styles
------------*/

.left-align-text {
    text-align: left;
}
    

/* About Section */
#about {
  padding-top: 170px;
  padding-bottom: 240px;
}

/* Skills Section */
#skills {
  padding-top: 80px;
  padding-bottom: 140px;
}

/* Portfolio Section */
#portfolio {
  padding-top: 80px;
  padding-bottom: 80px;
}

/* Articles Section */
#articles {
  padding-top: 80px;
  padding-bottom: 260px;
}

/* Articles Section */
#contact {
  padding-top: 80px;
  padding-bottom: 260px;
}

/* Footer */
footer.footer {
    z-index: 1;
    margin-top:0;
    overflow: hidden;
    text-align: center;
    position: relative;
    background-image: url(../img/bg/footer-torontoskyline-bg.jpg);
    background-size:cover;
    background-position: center;
}

footer.footer:after {
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  content: " ";
  height: 100%;
  text-align: center;
  position: absolute;
  background: rgba(0,0,0,0.5);
}

/* Portfolio Background */

.background-image:after {
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    content: " ";
    height: 100%;
    text-align: center;
    position: absolute;
    background: rgba(0,0,0,0.5);
    background-size:inherit;
    background-position: center;
}

.portfolio-background-image {
    left: 0;
    bottom: 0;
    width: 100%;
    content: " ";
    height: 100%;
    text-align: center;
    position: absolute;
    background: grey;
    background-size:inherit;
    background-position: center;
}
