/* Margins */

.left-align-text {
    text-align: left;
}
    

/* About Section */
#about {
  padding-top: 170px;
  padding-bottom: 240px;
}

/* Skills Section */
#skills {
  padding-top: 100px;
  padding-bottom: 120px;
}

/* Portfolio Section */
#portfolio {
  padding-top: 120px;
  padding-bottom: 300px;
}

/* Articles Section */
#articles {
  padding-top: 120px;
  padding-bottom: 220px;
}

/* Footer */
footer.footer {
    margin-top:0;
    overflow: hidden;
    text-align: center;
    position: relative;
    background-image: url(../img/bg/footer-torontoskyline-bg.jpg);
    background-size:cover;
    background-position: center;
}

/* Portfolio Background */

.background-image:after {
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  content: " ";
  height: 100%;
  text-align: center;
  position: absolute;
  background: rgba(0,0,0,0.5);
}
