/*----------
Custom Styles
------------*/

.left-align-text {
    text-align: left;
}

.right-align-text {
    text-align: right;
}

.center {
    text-align: center;
}

.autocenter {
    margin: 0 auto;
    text-align: center;
}

.round-corner {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.clear {
    clear: both;
}

.media-heading {
    text-align: left;
}

/* Disables Anchor Text on Phone Numbers */

a.disabledAnchor {
       pointer-events: none !important;
       cursor: default;
       color:white;
}

/* Section Spacing */

#about {
  padding-top:5%;
  padding-bottom: 5%;
}

#skills {
  padding-top: 5%;
  padding-bottom: 5%;
  color: white;
}

#portfolio {
  padding-top: 5%;
  padding-bottom: 5%;
}

#contact {
  padding-top: 5%;
  padding-bottom: 5%;
  color: white;
}

/* Section Spacing */

.about-title {
    padding-top: 1%;
    padding-bottom: 0;
    margin-top: 4%;
    margin-bottom: 0;
}
.about-title-space {
    padding-bottom: 4%;
}
.title-space {
    padding-bottom: 1%;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("https://brianhildebrandt.com/images/bg/matrix-masthead.jpg") no-repeat;
    background-size: cover; 
}

video { 
    display: block;
}